{% extends "base.html" %} {% load static %} {% block page_header %}
<!-- BLOCK PAGE HEADER -->
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
<!-- END OF BLOCK PAGE HEADER -->
{% endblock %} {% block content %}

<!-- CAROUSEL SECTION -->
<!-- END OF CAROUSEL SECTION -->

<!-- PRODUCTS SELECTED SECTION -->
<!-- END OF PRODUCTS SELECTED SECTION -->

<!-- BANNER BOTTOM -->
<!-- END OF BANNER BOTTOM -->

<!-- SERVICE REVIEW SECTION -->
<!-- END OF SERVICE REVIEW SECTION -->

{% endblock %}
