{% extends "base.html" %} {% load static %}

<!-- HEAD HTML -->
{% include "includes/head.html" %}
<!-- END OF HEAD HTML -->

<!-- Page Header -->
{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %}

<!-- prettier-ignore -->
{% block content %}
<!-- LANDING PAGE -->
<div class="container-fluid min-vh-100 main-content p-0">
  <div class="row h-100">
    <div class="col d-md-block">
      <div class="mt-4">
        <div class="pt-5">
          <h2>Find Your Next Watch</h2>
          <p>
            Explore the latest additions to our watch collection and find your
            latest time piece.
          </p>
          <div class="my-4">
            <h4>
              <a
                href=""
                class="btn-style btn mb-3"
                aria-label="Go to the home page"
                >Discover</a
              >
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col"></div>
  </div>
</div>

<!-- END OF LANDING PAGE-->
{% endblock %}
