core.Microsoft*
core.mongo*
core.python*
env.py
__pycache__/
*.py[cod]
node_modules/
.github/
cloudinary_python.txt
# To ignore our development database files:
*.sqlite3
# To ignore compiled python code not needed in version control + __pycache__
*.pyc
.venv