{% extends "account/base.html" %} {% load i18n %}
<!-- prettier-ignore -->
{% block extra_title %} | Sign Out{% endblock %}
{% block head_title %}{% trans "Sign Out" %}{% endblock %} {% block inner_content %}
<!-- LOGOUT SECTION -->
<div class="col-lg-6">
  <hr />
  <h2 class="mb-4">{% trans "Sign Out" %}</h2>
  <hr />
  <p>{% trans 'Are you sure you want to sign out?' %}</p>

  <form method="post" action="{% url 'account_logout' %}">
    {% csrf_token %} {% if redirect_field_value %}
    <input
      type="hidden"
      name="{{ redirect_field_name }}"
      value="{{ redirect_field_value }}"
    />
    {% endif %}
    <a
      type="button"
      class="btn btn-outline-secondary rounded-1"
      href="{% url 'home' %}"
    >
      Cancel
    </a>
    <button class="btn rounded-1" type="submit">{% trans 'Sign Out' %}</button>
  </form>
</div>
<!-- END OF LOGOUT SECTION -->
{% endblock %}
