{% extends "account/base.html" %} {% load i18n %}
<!-- prettier-ignore -->
{% block extra_title %} | Verify Your E-mail Address{% endblock %}
<!-- PAGE HEADER -->
{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}
<!-- END PAGE HEADER -->

{% block page_header %}
<!-- BLOCK PAGE HEADER -->
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
<!-- END OF BLOCK PAGE HEADER -->
{% endblock %} {% block inner_content %}
<!-- VERIFICATION EMAIL SECTION -->
<div class="container mt-5">
  <div class="row">
    <hr />
    <h2 class="mb-4">{% trans "Verify Your E-mail Box" %}</h2>
    <hr />
    <p>
      {% blocktrans %}We have sent an e-mail to you for verification. Follow the
      link provided to finalize the signup process. Please contact us if you do
      not receive it within a few minutes.{% endblocktrans %}
    </p>
  </div>
</div>
<!-- END VERIFICATION EMAIL SECTION -->
{% endblock %}
