<!-- HEAD HTML -->
{% include "includes/head.html" %}
<!-- END OF HEAD HTML -->

  <body>
    <!-- Header -->
    <header class="container-fluid fixed-top">
      <div class="row">
        <div
          class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-left"
        >
          <a href="(% url 'home' %)" class="nav-link main-logo-link">
            <h2 class="logo-font text-black my-0">Tourbillon</h2>
          </a>
        </div>
        <!-- Search form  -->
        <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
          <form action="" method="get">
            <div class="input-group w-100">
              <input
                class="form-control border border-black rounded-0"
                type="text"
                name="q"
                placeholder="Search..."
              />
              <div class="input-group-append">
                <button
                  type="submit"
                  class="form-control btn btn-black border border-black rounded-0"
                >
                  <span class="icon"><i class="fas fa-search"></i></span>
                </button>
              </div>
            </div>
          </form>
        </div>
        <div class="col-12 col-lg-4 my-auto py-1 py-lg-0"></div>
      </div>
    </header>

    {% if messages %}
    <div class="message-container"></div>
    {% endif %}

    <!-- Page Header -->
    {% block page_header %} {% endblock %}

    <!-- Content -->
    {% block content %} {% endblock %}

    <!-- Postload JavaScript -->
    {% block postloadjs %} {% endblock %}
  </body>
</html>
