  <!-- HEAD HTML -->
  {% include "includes/head.html" %}
  <!-- END OF HEAD HTML -->

  <body>
    <!-- Header -->
    <header class="container-fluid fixed-top p-0">
      <div class="row pt-lg-2 d-none d-lg-flex">
        <div
          class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-left"
        >
          <a href="{% url 'home' %}" class="nav-link main-logo-link">
            <h2 class="my-0 logo">Tourbillon</h2>
          </a>
        </div>
        <!-- Search form  -->
        <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
          <form action="" method="get">
            <div class="input-group w-100">
              <input
                class="form-control border border-black rounded-0"
                type="text"
                name="q"
                placeholder="Search..."
              />
              <div class="input-group-append">
                <button
                  type="submit"
                  class="form-control btn btn-black border border-black rounded-0"
                >
                  <span class="icon"><i class="fas fa-search"></i></span>
                </button>
              </div>
            </div>
          </form>
        </div>
        <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
          <ul class="list-inline list-unstyled text-center text-lg-right my-0">
            <!-- Account link -->
            <li class="list-inline-item dropdown">
              <a
                class="text-black nav-link"
                href="#"
                id="user-options"
                data-bs-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
                role="button"
              >
                <div class="text-center">
                  <div><i class="fas fa-user fa-lg"></i></div>
                  <p class="my-0">My Account</p>
                </div>
              </a>
              <ul class="dropdown-menu border-0" aria-labelledby="user-options">
                <!-- prettier-ignore -->
                {% if request.user.is_authenticated %} 
                {% if request.user.is_superuser %}
                <li>
                  <a
                    href=""
                    aria-label="Go to the product management page"
                    class="dropdown-item"
                    >Product Management</a
                  >
                </li>
                {% endif %}
                <li>
                  <a
                    href=""
                    aria-label="Go to the profile page"
                    class="dropdown-item"
                    >Profile</a
                  >
                </li>
                <li>
                  <a
                    href="{% url 'account_logout' %}"
                    aria-label="Go to the accout logout page"
                    class="dropdown-item"
                    >Logout</a
                  >
                </li>
                {% else %}
                <li>
                  <a
                    href="{% url 'account_signup' %}"
                    aria-label="Go to the signup page"
                    class="dropdown-item"
                    >Register</a
                  >
                </li>
                <li>
                  <a
                    href="{% url 'account_login' %}"
                    aria-label="Go to the login page"
                    class="dropdown-item"
                    >Login</a
                  >
                </li>
                {% endif %}
              </ul>
            </li>
            <!-- Bag link -->
            <li class="list-inline-item">
              <a
                href=""
                aria-label="Go to the view bag page"
                class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link"
              >
                <div class="text-center">
                  <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                  <p class="my-0">
                <!-- prettier-ignore -->
                {% if grand_total %} €{{ grand_total|floatformat:2 }} 
                {% else %} €0.00 {% endif %}
                  </p>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <nav class="navbar navbar-expand-lg w-100">
          <div class="container-fluid">
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#main-nav"
              aria-controls="main-nav"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <!-- MOBILE NAVBAR -->
            {% include 'includes/mobile-nav.html' %}
            <!-- END OF MOBILE NAVBAR -->
            <!-- MAIN NAVBAR -->
            {% include 'includes/main-nav.html' %}
            <!-- END OF MAIN NAVBAR -->
          </div>
        </nav>
      </div>

      <div class="row text-center marquee">
        <h5 class="my-2 text-uppercase">
          <i class="fad fa-box-full"></i>
          <!-- prettier-ignore -->
          <span class="text-success">Free</span> delivery on orders over €
          {{ free_delivery_threshold }}!
        </h5>
      </div>
    </header>

    <!-- TOAST MESSAGES -->
    {% if messages %}
    <div class="message-container">
      <!-- prettier-ignore -->
      {% for message in messages %}
        {% with message.level as level %}
            {% if level == 40 %}
                {% include 'includes/toasts/toast_error.html' %}
            {% elif level == 30 %}
                {% include 'includes/toasts/toast_warning.html' %}
            {% elif level == 25 %}
                {% include 'includes/toasts/toast_success.html' %}
            {% else %}
                {% include 'includes/toasts/toast_info.html' %}
            {% endif %}
        {% endwith %}
      {% endfor %}
    </div>
    {% endif %}
    <!-- END TOAST MESSAGES -->

    <!-- Page Header -->
    {% block page_header %} {% endblock %}

    <!-- Content -->
    {% block content %} {% endblock %}

    <!-- Postload JavaScript -->
    {% block postloadjs %}
    <!-- JS to display the toast messages -->
    <script type="text/javascript">
      $(".toast").toast("show");
    </script>
    {% endblock %}
  </body>
</html>
