<!-- HEAD HTML -->
{% include "includes/head.html" %}
<!-- END HEAD HTML -->

<body>
  <!-- Header -->
  <header class="container-fluid fixed-top p-0">
    <div class="row pt-lg-2 d-none d-lg-flex">
      <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-end">
        <a href="{% url 'home' %}" class="nav-link main-logo-link">
          <h1 class="my-0 logo">Tourbillon</h1>
        </a>
      </div>
      <!-- Search form  -->
      <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
        <form action="{% url 'products' %}" method="get">
          <div class="input-group w-100">
            <input
              class="form-control border border-black rounded-0"
              type="text"
              name="q"
              placeholder="Search..."
            />
            <div class="input-group-append">
              <button
                type="submit"
                class="form-control btn btn-black border border-black rounded-0"
              >
                <span class="icon"><i class="fas fa-search"></i></span>
              </button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
        <ul class="list-inline list-unstyled text-center text-lg-end my-0">
          <!-- Account link -->
          <li class="list-inline-item dropdown">
            <a
              class="text-black nav-link"
              href="#"
              id="user-options"
              data-bs-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              role="button"
            >
              <div class="text-center">
                <div><i class="fas fa-user fa-lg"></i></div>
                <p class="my-0">My Account</p>
              </div>
            </a>
            <ul class="dropdown-menu border-0" aria-labelledby="user-options">
              <!-- prettier-ignore -->
              {% if request.user.is_authenticated %} 
                {% if request.user.is_superuser %}
              <li>
                <a href="{% url 'account_overview' %}" class="dropdown-item"
                  >My Account</a
                >
              </li>
              <li>
                <a
                  href="{% url 'product_management' %}"
                  aria-label="Go to the product management page"
                  class="dropdown-item"
                  >Product Management</a
                >
              </li>
              {% endif %}
              <li>
                <a
                  href="{% url 'profile' %}"
                  aria-label="Go to the profile page"
                  class="dropdown-item"
                  >My Profile</a
                >
              </li>
              <li>
                <a
                  href="{% url 'account_logout' %}"
                  aria-label="Go to the accout logout page"
                  class="dropdown-item"
                  >Logout</a
                >
              </li>
              {% else %}
              <li>
                <a
                  href="{% url 'account_signup' %}"
                  aria-label="Go to the signup page"
                  class="dropdown-item"
                  >Register</a
                >
              </li>
              <li>
                <a
                  href="{% url 'account_login' %}"
                  aria-label="Go to the login page"
                  class="dropdown-item"
                  >Login</a
                >
              </li>
              {% endif %}
            </ul>
          </li>
          <!-- Bag link -->
          <li class="list-inline-item">
            <a
              href="{% url 'view_bag' %}"
              aria-label="Go to the view bag page"
              class="{% if grand_total %}text-info fw-bold{% else %}text-black{% endif %} nav-link"
            >
              <div class="text-center">
                <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                <p class="my-0">
                  <!-- prettier-ignore -->
                  {% if grand_total %} €{{ grand_total|floatformat:2 }} 
                {% else %} €0.00 {% endif %}
                </p>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <nav class="navbar navbar-expand-lg w-100">
        <div class="container-fluid">
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#main-nav"
            aria-controls="main-nav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <!-- MOBILE NAVBAR -->
          {% include 'includes/mobile-nav.html' %}
          <!-- END OF MOBILE NAVBAR -->
          <!-- MAIN NAVBAR -->
          {% include 'includes/main-nav.html' %}
          <!-- END OF MAIN NAVBAR -->
        </div>
      </nav>
    </div>

    <div class="row text-center marquee">
      <h5 class="my-2 text-uppercase">
        <i class="fad fa-box-full"></i>
        <!-- Delivery banner -->
        <span class="text-success">Free</span> delivery on orders over €
        <!-- Delivery variable -->
        {{ free_delivery_threshold }}!
      </h5>
    </div>
  </header>

  <!-- TOAST MESSAGES -->
  {% if messages %}
  <div class="message-container">
    <!-- prettier-ignore -->
    {% for message in messages %}
        {% with message.level as level %}
            {% if level == 40 %}
                {% include 'includes/toasts/toast_error.html' %}
            {% elif level == 30 %}
                {% include 'includes/toasts/toast_warning.html' %}
            {% elif level == 25 %}
                {% include 'includes/toasts/toast_success.html' %}
            {% else %}
                {% include 'includes/toasts/toast_info.html' %}
            {% endif %}
        {% endwith %}
      {% endfor %}
  </div>
  {% endif %}
  <!-- END TOAST MESSAGES -->

  <!-- Page Header -->
  {% block page_header %} {% endblock %}

  <!-- Content -->
  {% block content %} {% endblock %}

  <!-- FOOTER -->
  <footer id="footer" class="w-100 mt-auto text-center py-4 mb-n1">
    <div class="container-fluid">
      <div class="row">
        <div class="row row-reverse">
          <div class="col-sm-12 col-md-4">
            <h3 class="sub-title">Follow Us</h3>
            <ul>
              <li>
                <a
                  href="https://www.facebook.com/profile.php?id=100090798163373"
                  rel="noopener"
                  target="_blank"
                  aria-label="Go to the facebook company page"
                  class="fw-lighter fs-6 footer-link"
                  ><i class="fab fa-facebook-f pacific-blue"></i> Facebook</a
                >
              </li>
              <li>
                <a
                  href="https://www.instagram.com/"
                  rel="noopener"
                  target="_blank"
                  aria-label="Go to the Instagram company page"
                  class="fw-lighter fs-6 footer-link"
                  ><i class="fab fa-instagram pacific-blue"></i> Instagram</a
                >
              </li>
            </ul>
          </div>
          <div class="col-sm-12 col-md-4">
            <h3 class="sub-title">Be the first to know</h3>
            <p class="fw-lighter fs-6">
              Discover how to find the best watch and enjoy exclusive products
              and offers via email
            </p>
            <form action="{% url 'subscribers' %}" method="POST">
              {% csrf_token %} {{ subscribe_form | crispy }}
              <input
                type="submit"
                class="btn-light submit btn mt-2 rounded-1 d-block"
                value="Subscribe"
                placeholder="Subscriber Email*"
              />
            </form>
          </div>
          <div class="col-sm-12 col-md-4">
            <h3 class="sub-title">Support</h3>
            <ul class="fw-lighter fs-6">
              <li>
                <a href="{% url 'faq_page' %}" class="footer-link"
                  ><i class="fas fa-phone pacific-blue"></i>FAQ</a
                >
              </li>
              <li>
                <i class="far fa-envelope pacific-blue"></i>
                <a
                  href="#"
                  class="footer-link"
                  data-bs-toggle="modal"
                  data-bs-target="#PolicyModal"
                  >Privacy Policy</a
                >
              </li>
              <li>
                <i class="fas fa-home interactive-color"></i> Main Street -
                Somewhere
              </li>
            </ul>
          </div>
        </div>
      </div>
      <hr />
      <div class="copyright">
        <p class="fs-6 fw-lighter">
          <i class="far fa-copyright pacific-blue"></i> All Rights Reserved |
          Tourbillon | <span id="year"></span>
        </p>
      </div>
    </div>
    {% include 'includes/privacy_policy_modal.html' %}
  </footer>
  <!-- END OF FOOTER -->

  <!-- Postload JavaScript -->
  {% block postloadjs %} {% include 'includes/base_script.html' %}
  <!-- end JS -->
  {% endblock %}
</body>
</html>
