<!-- CHECKOUT BUTTONS -->
<div class="text-end">
  <a
    href="{% url 'products' %}"
    aria-label="Go to the products page"
    class="btn btn-outline-secondary rounded-1 btn-lg mb-2"
  >
    <span class="icon">
      <i class="fas fa-chevron-left interactive-color"></i>
    </span>
    <span class="text-uppercase">Keep Shopping</span>
  </a>
  <a
    href="{% url 'checkout' %}"
    aria-label="Go to the checkout page"
    class="btn btn-style rounded-1 btn-lg mb-2"
  >
    <span class="text-uppercase">Secure Checkout</span>
    <span class="icon">
      <i class="fas fa-credit-card ms-2"></i>
    </span>
  </a>
</div>
<!-- END CHECKOUT BUTTONS -->
