{% extends "base.html" %} {% load static %} {% block page_header %}
<!-- BLOCK PAGE HEADER -->
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
<!-- END OF BLOCK PAGE HEADER -->
{% endblock %} {% block content %}
<!-- ADD PRODUCTS SECTION -->
<div class="overlay"></div>
<div class="container">
  <div class="row">
    <div class="col-12 col-md-6">
      <hr />
      <h2 class="sub-title mb-4">Product Management</h2>
      <h5 class="text-muted">Add a Product as:</h5>
      <h5 class="text-uppercase text-muted">
        <i class="fas fa-user fa-lg pacific-blue"></i> {{ user }}
      </h5>
      <hr />
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-6">
      <form
        method="POST"
        action="{% url 'add_product' %}"
        class="form mb-2"
        enctype="multipart/form-data"
      >
        {% csrf_token %} {% for field in form %} {% if field.name != 'image' %}
        {{ field | as_crispy_field }} {% else %} {{ field }}
        <!-- prettier-ignore -->
        {% endif %} {% endfor %}
        <div class="text-right">
          <a
            href="{% url 'products' %}"
            aria-label="Go to the products page"
            class="btn btn-outline-secondary rounded-1"
            >Cancel</a
          >
          <button
            class="btn btn-style rounded-1"
            type="submit"
            aria-label="Add Product"
          >
            Add Product
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- END OF ADD PRODUCTS SECTION -->
{% endblock %} {% block postloadjs %} {{ block.super }}
<!-- JS to display miniature of image product has -->
<script>
  // Listen to change event on new image input
  $("#new-image").change(function () {
    const file = $("#new-image")[0].files[0];
    // Set file name paragraph in widget template to files name
    $("#filename").text(`Image will be set to: ${file.name}`);
  });
</script>
{% endblock %}
